{% extends 'lwLayout.html.twig' %}
{% block body %}
    <section class="title_page">

        <div class="section_content">

            <h1>{{ oiseau.lbNom  }}</h1>

        </div>

    </section>
    <div class="body_content observations">


    <div class="last_observations">
        <h2 class="souligner">Les dernières observations de cet oiseau</h2>
        <div class="last_observations_content">
            {% for observation in oiseau.observation %}
                <div class="last_observation_item">

                    <h3 style="color : #08ACDE;">{{ observation.nom  }}</h3>

                    <p style="padding-top : 5px;padding-bottom : 5px;"><strong>Coordonnées GPS</strong><br />
                        Lat : {{ observation.latitude }}, LNG : {{ observation.longitude }}
                    </p>

                    <a class="action_view" href="#map_canvas" onclick="anim_rouge_gorge();view_oiseau('rouge_gorge');">Voir l'oiseau sur la carte</a>

                </div>
            {% endfor %}
        </div><!--end div last observation -->
            <div id="laisser_observation">

                <h2 class="souligner">Laisser une observation sur cet oiseau</h2>
                <div class="form_obs">
                    {% if app.user %}
                        {{ form_start(formObservation) }}
                        <form>

                        <div>

                            <h3>Nom de l'observation</h3>

                            {{ form_row(formObservation.nom,{'attr':{'placeholder':"Nom d'observation"}}) }}

                        </div>

                        <div>

                            <h3>Cordonnées GPS</h3>

                            <button onclick="locate()" >Générer mes coordonnées GPS</button>

                            <a>ou</a>

                            {{ form_row(formObservation.latitude,{'attr':{'placeholder':"Latitude",'class':'lat'}}) }}
                            {{ form_row(formObservation.longitude,{'attr':{'placeholder':"Longitude",'class':'long'}}) }}

                        </div>

                        <div>

                            <h3>Photo<br/><span>*Facultatif</span></h3>


                            {{ form_row(formObservation.photo,{'attr':{'placeholder':"la photo de l'observation",'required':'false'}}) }}

                        </div>

                        <button class="submit" type="submit">Envoyer l'observation</button>

                    </form>
                        {{ form_end(formObservation) }}
                    {% else %}
                        Pour laisser une observation vous devez vous  <a href="{{ path('loginUsers') }}" class="button_style_1">Connecter</a>
                    {% endif %}
                </div>
                </div>

            </div><!-- end div laisser un commentaire -->

    </div><!--end of body content observation -->

    <script src="https://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script>

        function locate() {
            navigator.geolocation.getCurrentPosition(function(position){
                document.querySelector(".lat").value = position.coords.latitude;
                document.querySelector(".long").value = position.coords.longitude;
            });
        }
    </script>
{% endblock %}