{% extends 'lwLayout.html.twig' %}
{% block body %}
    <section class="title_page">

        <div class="section_content">

            <h1>{{ oiseau.lbNom  }}</h1>

        </div>

    </section>
    <div class="body_content">
    <div class="content">
    <article>
        <div>
            <br/>
            <img class="img-rounded" src="{{ oiseau.url }}" alt="{{ oiseau.lbNom  }}" style="width: 55%; height: 35%"/>
            <h3>{{ oiseau.lbNom  }}</h3>
            <div class="meta">
                Découvert par {{ oiseau.lbAuteur }}  <strong> reference:</strong>
                {{ oiseau.cdRef }}
            </div>
        </div>
    </article>
    <section id="observations">
            {% for observation in oiseau.observation %}
                <h5>{{ observation.nom  }}</h5>
                <div class="meta">
                    Coordonnées GPS
                    <p>Longitude : {{ observation.longitude }}</p>
                    <p>Latitude : {{ observation.latitude }}</p>
                    Laissée le {{ observation.createdAt | date('d/m/Y') }}
                </div>
            <br />
            {% endfor %}
        {% if app.user %}

            <div class="col-lg-8">

            <h4>Laissé une observation !</h4>
                <button onclick="locate()" class="btn_primary">Générer mes coodonnées GPS</button><br>
            <label id="location"></label>
            {{ form_start(formObservation) }}
            {{ form_row(formObservation.nom,{'attr':{'placeholder':"Nom d'observation"}}) }}
                <p>Les coordonnées GPS</p>
            {{ form_row(formObservation.longitude,{'attr':{'placeholder':"Longitude",'class':'long'}}) }}
                {{ form_row(formObservation.latitude,{'attr':{'placeholder':"Latitude",'class':'lat'}}) }}
                <br />
            {{ form_row(formObservation.photo,{'attr':{'placeholder':"la photo de l'observation",'required':'false'}}) }}
            <button type="submit" class="button_style_1">
                Enregistrer l'observation
            </button>
            {{ form_end(formObservation) }}
        </div>
    {% else %}
        Pour laisser une observation vous devez vous  <a href="{{ path('loginUsers') }}" class="button_style_1">Connecter</a>
        {% endif %}
    </section>
    </div>
    </div>
    <script src="https://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script>

        function locate() {
            navigator.geolocation.getCurrentPosition(function(position){
    document.querySelector(".long").value = position.coords.longitude;
    document.querySelector(".lat").value = position.coords.latitude;
    });
    }
    </script>
{% endblock %}