{% extends 'jdLayout.html.twig' %}
{% block body %}
    <article>
        <div>
            <h2>{{ oiseau.lbNom  }}</h2>
            <div class="meta">
                Découvert par {{ oiseau.lbAuteur }}  <strong> reference:</strong>
                {{ oiseau.cdRef }}
            </div>
        </div>
    </article>
    <section id="observations">
            {% for observation in oiseau.observation %}
                <h2>{{ observation.nom  }}</h2>
                <div class="meta">
                    Coordonnées GPS {{ observation.coordonneesGps }} Laissée le {{ observation.createdAt | date('d/m/Y') }}
                </div>

            {% endfor %}
        <div class="col-lg-6">
            <h1>Laissé une observation !</h1>
            {{ form_start(formObservation) }}
            {{ form_row(formObservation.nom,{'attr':{'placeholder':"Nom d'observation"}}) }}
            {{ form_row(formObservation.coordonneesGps,{'attr':{'placeholder':"Coordonnées Gps"}}) }}
            {{ form_row(formObservation.photo,{'attr':{'placeholder':"la photo de l'observation"}}) }}
            <button type="submit" class="btn btn-success">
                Enregistrer
            </button>
            {{ form_end(formObservation) }}
        </div>

    </section>
{% endblock %}