{% extends 'lwLayoutAdmin.html.twig' %}

{% block contentPage %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
        <div class="col-md-6">
            <a href="{{ path('jdadduserNao')}}" class="btn btn-success">Créer un utilisateur<div class="ripple-container"></div></a>
        </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title">Liste des utilisateurs</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-shopping">
                    <thead class=" text-primary">
                    <th>
                        Noms
                    </th>
                    <th>
                        Prénoms
                    </th>
                    <th>
                        Emails
                    </th>
                    <th class="text-right">
                        Rôles
                    </th>
                    <th class="text-right">
                        Actions
                    </th>
                    </thead>
                    {% for user in users %}
                        <tbody>

                        <tr>
                            <td>
                                {{ user.name }}
                            </td>
                            <td>
                                {{ user.firstname }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td class="text-right">
                                {{ user.roles[0] }}
                            </td>
                            <td class="td-actions text-right">
                                <a href="{{ path('jdUpDateUser', {'id': user.id}) }}" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title="Modifier un utilisateur">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a href="{{ path('jdRemoveUser', {'id': user.id}) }}" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom" title="Supprimer">
                                    <i class="material-icons">close</i>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    {% endfor %}
                </table>
            </div>
            </div>
        </div><!--end of card -->
                </div>



    </div> <!--end of container fluid -->
    </div>
    </div>
{% endblock %}