{% extends ('lwLayout.html.twig') %}

{% block body %}

    <section class="title_page">

        <div class="section_content">
            <h1>Formulaire de modification de son compte</h1>
        </div>

    </section>
    <div class="body_content connexion">

        <div id="connexion_form">
            <div class="form_obs">
                {{ form_start(form, {'attr': {'class': 'col-sm-6 col-sm-offset-6'}}) }}
                {{ form_errors(form) }}
                <br>
                <div class="form-group">
                    {{ form_label(form.password, 'Nouveau mot de passe') }}
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'id': 'password'}}) }}
                </div>
                <br><br>

                {{ form_widget(form.recaptcha) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}