{% extends ('jdLayout.html.twig') %}

{% block body %}
    <div class="content">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Formulaire de modification du compte de l'utilisateur</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="center col-lg-12 col-sm-12">
                            {{ form_start(form, {'attr': {'class': 'col-sm-6 col-sm-offset-6'}}) }}
                            {{ form_errors(form) }}
                            <div class="form-group">
                                {{ form_label(form.password, 'Votre mot passa actuelle') }}
                                {{ form_errors(form.password) }}
                                {{ form_widget(form.password, {'attr': {'class': 'form-control', 'id': 'password'}}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}