{% extends 'lwLayoutAdmin.html.twig' %}

{% block contentPage %}
    <div class="content">
        <div class="content">
            <div class="container-fluid">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Création d'article</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                    {{ form_start(form,{'attr':{'class':'form-horizontal' }}) }}
                    <div class="row">
                    {{ form_label(form.title,'Titre de l\'article', {'attr': {'class': 'col-sm-2 col-form-label'}})}}
                        <div class="col-sm-10">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control','type':'text'}}) }}
                        </div>
                    </div>
                    <div class="row">
                    {{ form_label(form.content,'Contenu de l\'article') }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-control','type':'textarea'}}) }}
                    </div>
                    <div class="row">
                    {{ form_label(form.photo,'Photo de l\'article') }}
                        {{ form_widget(form.photo, {'attr': {'class': 'form-control-file'}}) }}
                    </div>
                        <div class="row">
                            {{ form_label(form.recaptcha,'Je ne suis pas un robot') }}
                            <div class="col-sm-10">
                            {{ form_widget(form.recaptcha) }}
                            </div>
                        </div>
                    <button type="submit" class="btn btn-success">
                        Enregistrer l'article
                    </button>
                    {{ form_end(form) }}
            </div>
                </div>
        </div>
    </div>
{% endblock %}