{% extends 'lwLayout.html.twig' %}
{% block body %}
    <section class="title_page">

        <div class="section_content">

            <h1>CONTACT</h1>

        </div>

    </section>

    <div class="body_content">

        <div class="content">

            <div id="contact">

                <p>Contactez-nous au <span>33.12.74.49.00</span>, par mail à <span>contact@nao-app.fr</span> ou en utilisant notre <span>formulaire de contact</span> ci-dessous</p>
                {% for message in app.flashes('notice_contact') %}
                    <div class="alert alert-danger" style="margin-top:1.5%;"><strong>
                            {{ message }}
                        </strong></div>
                {% endfor %}

               {{ form_start(form) }}

                    <div id="input_nom">

                        {{ form_widget(form.nom) }}

                    </div>

                    <div id="input_prenom">

                        {{ form_widget(form.prenom) }}

                    </div>

                    <div id="input_email">

                        {{ form_widget(form.email) }}

                    </div>

                    <div id="input_telephone">

                        {{ form_widget(form.telephone) }}

                    </div>

                    <div id="input_sujet">

                        {{ form_widget(form.subject) }}

                    </div>

                    <div id="input_message">

                        {{ form_widget(form.message) }}

                    </div>

                    <div id="submit">

                        <button type="submit">Envoyer</button>

                    </div>

                {{ form_end(form) }}

            </div><!--end of id_content-->

        </div>

    </div>

{% endblock %}