{% extends "lwLayout.html.twig" %}

{% block body %}
    <section id="short_desc">

        <div class="section_content">

            <h1>NAO, C'EST QUOI ?</h1>

            <p>En traitant de l'observation et de la protection des oiseaux,  la mission générale de ce site est la conservation des milieux naturels et des beautés de ce monde.</p>

            <div class="buttons_box">

                <a class="view_observation" href="{{ path('birds') }}">Voir les observations</a>

                <a class="do_observation" href="{{ path('birds') }}">Faire une observation</a>

            </div>

        </div>

    </section>
    {%  if observations is null  %}
        <p>Pas d'observation enregistrées pour l'instant</p>
    {%  else %}
<div class="body_content">

    <div class="last_observations">

        <h2>Les dernières observations</h2>

        <div class="last_observations_content">

        {% for observation in observations  %}
        <div class="last_observation_item">

            <div class="image_last_observation_item">

                <a>{% if observation.photo is null %}
                        <img src="{{ asset('images_appli/no_photo_available.jpg') }}" alt="Bootstrap" class="img-thumbnail">
                    {% else %}
                        <img src="{{ asset('images_appli/'~ observation.photo) }}" alt="Bootstrap" class="img-thumbnail">
                    {% endif %}</a>

            </div><!---end image_last_observation_item-->

            <h3>{{ observation.nom  }} </h3>
            <p>Ecrit le {{ observation.createdAt | date('d/m/Y') }} à {{ observation.createdAt | date('H:i') }}</p>
            <a class="action_view" href="{{ path('bird',{'id':observation.oiseau.id}) }}">Voir l'oiseau</a>

        </div><!---last_observation_item-->
        {% endfor %}


        </div><!--- end last_observation_content-->
        <a class="button_style_1" href="{{ path('birds') }}">Voir toutes les observations</a>
    </div><!---end last_observation-->

        <div id="short_presentation">

            <div class="image_presentation">

                <a><img src="https://jardinage.lemonde.fr/images/dossiers/2018-05/mesange-bleue-1-055106.jpg"/></a>
            </div>

            <div class="paragraphe_presentation">

                <h3>PRESENTATION</h3>
                <p>On entend rarement parler de ce dernier élément concernant notre santé, ce qui donne l'impression à plusieurs que l'environnement est extérieur à nous et que nous y sommes peu liés. Pourtant, c'est d'une importance primordiale.
                    Par exemple, fréquenter des milieux naturels a des effets bénéfiques sur notre santé mentale, c'est prouvé scientifiquement. Bien sûr, la pollution affecte aussi directement la qualité de nos aliments et de notre eau. Ce ne sont que deux exemples parmi les nombreux effets qui existent.
                    Avec l'amour de ces petites bêtes ailées, au fur et à mesure que les gens en connaîtront davantage sur les oiseaux, leur désir de les protéger et de protéger leur habitat devrait augmenter, favorisant ainsi les efforts de conservation de l'environnement. C'est, en fait, le premier but de ce site!</p>

                <a href="{{ path('birds') }}">Faire une observation</a>

            </div>

        </div>
        <div class="last_articles">

            <h2>Les derniers articles</h2>

            <div class="last_articles_content">
                {% for article in articles  %}
                <div class="last_article_item">

                    <div class="image_last_article_item">

                        <a>{% if article.photo is null %}
                                <img src="{{ asset('images_appli/no_photo_available.jpg') }}" alt="Bootstrap" class="img-thumbnail">
                            {% else %}
                                <img src="{{ asset('images_appli/'~ article.photo) }}" alt="Bootstrap" class="img-thumbnail">
                            {% endif %}</a>

                    </div>

                    <h3>{{ article.title  }}</h3>

                    <p>Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} </p>

                    <a class="action_view" href="{{ path('oneArticle',{'id':article.id}) }}">Voir l'article</a>

                </div><!---end div of last_article_item-->
                {% endfor %}
            </div><!---end div of last article content-->

            <a class="button_style_1" href="{{ path('blog') }}">Voir tous les articles</a>

        </div><!---end div of last article-->

    </div> <!---end div of body_content-->
        {% endif %}
        {% endblock %}
