{% extends 'lwLayout.html.twig' %}

{% block body %}

    <!--<div class="row">
    <h3>La Carte Des Oiseaux</h3>
        <div class="row">
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
        <div style='overflow:hidden;height:440px;width:700px;'>
            <div id='gmap_canvas' style='height:440px;width:700px;'>
            </div><div><small><a href="https://embedgooglemaps.com/fr/">embedgooglemaps FR</a></small>
            </div><div><small><a href="http://www.stedentrippers.nl/berlijn.html">stedentrippers(*)</a>
                </small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}
            </style></div><script type='text/javascript'>function init_map()
            {var myOptions = {zoom:10,center:new google.maps.LatLng(48.856614,2.3522219000000177),mapTypeId: google.maps.MapTypeId.ROADMAP};
            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
            marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(48.856614,2.3522219000000177)});
            infowindow = new google.maps.InfoWindow({content:'<strong>Titre</strong><br>Paris, France<br>'});
            google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}
            google.maps.event.addDomListener(window, 'load', init_map);</script>
        </div>
        <form>
            <input type="text" id="adresse"/>
            <input type="button"  value="Trouver un oiseau sur la carte" class="btn btn-success" onclick="TrouverAdresse();"/>
        </form>
        <span id="text_latlng"></span>
        <!--<div id="map-canvas" style="float:right;height:220px;width:45%"></div>
    </div>-->

    <section class="title_page">

        <div class="section_content">

            <h1>OBSERVATIONS</h1>

        </div>

    </section>
    <div class="body_content">

        <div class="content">

            <div class="last_articles">

                <h2>LISTE DES OISEAUX REPERTORIES</h2>

                <div class="last_articles_content">
                    {% for oiseau in oiseaux  %}
                        <div class="last_article_item">

                            <div class="image_last_article_item">

                                <a><img src="{{ oiseau.url }}" alt="{{ oiseau.lbNom  }}" /></a>

                            </div>

                            <h3>{{ oiseau.lbNom  }}</h3>

                            <p>Découvert par {{ oiseau.lbAuteur }} <strong> reference:</strong>
                                {{ oiseau.cdRef }}</p>
                            <p>{{ oiseau.famille }}</p>
                            <a class="action_view" href="{{ path('bird',{'id':oiseau.id}) }}">Observations</a>

                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>

{% endblock %}