{% extends 'lwLayout.html.twig' %}
 {% block body %}

<section class="title_page">

    <div class="section_content">

        <h1>{{ article.title  }}</h1>

    </div>

</section>
<div class="body_content article">
    <div class="image" style="background-image : url('{{ asset('images_appli/'~ article.photo) }}');"></div>

    <div class="article_info">

        <h2 class="souligner">{{ article.title  }}</h2>

        <p>Article créé par <strong>{{article.users.firstname }} {{ article.users.name}}</strong> le <strong>{{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</strong></p>

    </div>
    <div class="content_paragraphe">

        <p>
            {{ article.content }}
        </p>

    </div>

    <div class="commentaires">
        {% for message in app.flashes('notice_com') %}
            <div class="alert alert-danger" style="margin-top:1.5%;"><strong>
                    {{ message }}
                </strong></div>
        {% endfor %}

        <h2 class="souligner">Liste des commentaires</h2>


        <div class="last_observations_content">
            {% set i = 1 %}
            {% for comment in article.comments %}
            <div class="last_observation_item">

                <h3 style="color : #08ACDE;">Commentaire {{ i }}</h3>

                <span style="padding-top : 5px;padding-bottom : 5px; opacity : 0.4;">Commentaire laissé par<strong> {{ comment.author.firstname }} </strong> le <strong>{{  comment.createdAt | date('d/m/Y à H:i') }}</strong></span>

                <p>{{ comment.content }}<a href="{{ path('signalComment',{'id':comment.id}) }}"><img src="{{ asset('assets/svg/si-glyph-circle-info.svg') }}" title="signaler le commentaire" width="7%" height="7%"></a></p>

            </div>
                {% set i = i + 1 %}
            {% endfor %}

        </div>

    </div>

    <div id="laisser_commentaire">

        <h2 class="souligner">Laisser un commentaire sur cet article</h2>
        {% if app.user %}
        <div class="form_obs">

                    <h3>Commentaire</h3>

                    {{ form_start(formComment,{'action': path('oneArticle',{'id':article.id}), 'method': 'POST'}) }}
                    {{ form_row(formComment.content) }}
                    {{ form_end(formComment) }}

                </div>


        </div>
        {% else %}
            <p>
                Pour laisser un commentaire vous devez vous  <a href="{{ path('loginUsers') }}" class="button_style_1">Connecter</a>
            </p>
        {% endif %}

    </div>

</div>

{% endblock %}
